<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Updation</title>
    <link rel="icon" type="image/x-icon" href="/images/updation.png">
    <link rel="stylesheet" href="styles/post.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Post Updation</h1>
        <form action="/" method="post">
            <label for="updatedTitle">Title of the Post to be Updated:</label>
            <input type="text" name="updatedTitle">
            <label for="updatedContent">Updated Content:</label>
            <textarea name="updatedContent" cols="30" rows="10"></textarea><br>
            <input type="submit" value="Submit">
        </form>
</body>
</html>